.Rproj.user
.Rhistory
.RData
.Ruserdata
aa0g_testi.txt
ibes_data_detail_history_detail.txt
ibes_data_detail_stopped_estimate.txt
closure_events.txt
ibes_crsp_link_python.txt
13f_stock_ownership_summary.txt
13f_s34_master_file.txt
13f_output.rds
mia_johnson_so.csv
pin_bh_brown_hillegeist.asc_.gz
pin_bhl_brown_hillegeist_lo.asc_.gz
pin_eho_easley_hvidkjaer_o'hara.dat
pin_dy_duarte_young.csv
crsp_monthly_stock_file.txt
pin_bh_brown_hillegeist.asc_
pin_bhl_brown_hillegeist_lo.asc_
crsp_daily_stock.rds
crsp_daily_stock_file.txt
